<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="{% static 'adoptApetApp/js/jquery.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'adoptApetApp/css/bootstrap.min.css' %}" type="text/css"/>
  <script type="text/javascript" src="{% static 'adoptApetApp/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'adoptApetApp/mycss/dialogues.css' %}" type="text/css"/>

  <title>DialougsPage</title>
  <title>Title</title>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" a href="">Adopt Pet</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/adoptApetApp/"
          <i class="glyphicon glyphicon-home"></i></a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Pets <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Dogs</a></li>
              <li><a href="#">Bunnies</a></li>
              <li><a href="#">Cats</a></li>
              <li><a href="#">Birds</a></li>
              <li><a href="#">Turtles</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Needs <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Medical Attention</a></li>
              <li><a href="#">Shelters</a></li>
              <li><a href="#">Accessory</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Messages<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="../adoptApetApp/createMessage">Create Message</a></li>
              <li><a href="../adoptApetApp/Dialogues">Dialogues</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <a href="/adoptApetApp/Profile">Welcome {{user}}</a>
          <a href="/adoptApetApp/logout"  class="btn btn-warning">Logout</a>
          {%else%}
          <li><a href="/adoptApetApp/signUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
              <div class="loginmodal-container">
                <h1>Login to Your Account</h1><br>
                <form method="POST" action="/adoptApetApp/">
                  {% csrf_token %}
                  <input type="text" name="user" placeholder="Username">
                  <input type="password" name="password" placeholder="Password">
                  <input type="submit" name="login" class="login loginmodal-submit" value="Login">

                </form>
                <div class="login-help">
                  <a href="#">Forgot Password</a>
                </div>
              </div>
            </div>
          </div>

        </ul>
        {%endif%}
        <form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
  </nav>

    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img class="img-rounded" src="{% static 'adoptApetApp/img/pet40.png' %}" alt="Generic placeholder image" width="300" height="220">

        </div>


        {%for a in comments%}
        <div class="col-sm-8">
          <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
              <div class="pull-left meta">
                <div class="title h5">
                  <a href="#"><b>{{a.username}}</b></a>
                  made a post.
                </div>
              </div>
            </div>
            <div class="post-description">
              <p>{{a.comment}}</p>
              <div class="stats">
                <a href="#" class="btn btn-default stat-item">
                  <i class="fa fa-thumbs-up icon"></i>2
                </a>
                <a href="#" class="btn btn-default stat-item">
                  <i class="fa fa-thumbs-down icon"></i>12
                </a>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}

      </div>
    </div>
  </body>
  </html>
