  <!DOCTYPE html>
  <html lang="en">
  <head>

      {% load staticfiles %}

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script type="text/javascript" src="{% static 'adoptApetApp/js/jquery.min.js' %}"></script>
      <link rel="stylesheet" href="{% static 'adoptApetApp/css/bootstrap.min.css' %}" type="text/css"/>
      <script type="text/javascript" src="{% static 'adoptApetApp/js/bootstrap.min.js' %}"></script>
      <link rel="stylesheet" href="{% static 'adoptApetApp/mycss/editProfile.css' %}" type="text/css"/>
      <title>EditProfilePage</title>

  </head>
  <body>


    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" a href="">Adopt Pet</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/adoptApetApp/"
            <i class="glyphicon glyphicon-home"></i></a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Pets <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Dogs</a></li>
                <li><a href="#">Bunnies</a></li>
                <li><a href="#">Cats</a></li>
                <li><a href="#">Birds</a></li>
                <li><a href="#">Turtles</a></li>
              </ul>
            </li>

            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Needs <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Medical Attention</a></li>
                <li><a href="#">Shelters</a></li>
                <li><a href="#">Accessory</a></li>
              </ul>
            </li>

            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Messages<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/adoptApetApp/createMessage">Create Message</a></li>
                <li><a href="/adoptApetApp/dialogues">Dialogues</a></li>
              </ul>
            </li>
          </ul>




          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <a href="/adoptApetApp/Profile">Welcome {{user}}</a>
            <a href="/adoptApetApp/logout"  class="btn btn-warning">Logout</a>
            {%else%}
            <li><a href="/adoptApetApp/signUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
              <div class="modal-dialog">
                <div class="loginmodal-container">
                  <h1>Login to Your Account</h1><br>
                  <form method="POST" action="/adoptApetApp/">
                    {% csrf_token %}
                    <input type="text" name="user" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">

                  </form>
                  <div class="login-help">
                    <a href="#">Forgot Password</a>
                  </div>
                </div>
              </div>
            </div>

          </ul>
          {%endif%}
          <form class="navbar-form navbar-left">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
    </nav>
  <div class="container">

      <h1>Edit Profile</h1>
   <hr>

  	<div class="row">
        <!-- left column -->





        <!-- edit form column -->
        <div class="col-md-8 personal-info">

          <h3>Personal info</h3>


          <form class="form-horizontal" action="../adoptApetApp/editProfile" method="post">
            {% csrf_token %}

           <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" name="editUserName" type="text"   value= {{user.username}}>
            </div>
          </div>

            <div class="form-group">
              <label class="col-lg-3 control-label">First name:</label>
              <div class="col-lg-8">
                <input class="form-control" name="edifFirstName" type="text" value= {{fname}}>
              </div>
            </div>


            <div class="form-group">
              <label class="col-lg-3 control-label">Last name:</label>
              <div class="col-lg-8">
                <input class="form-control" name="editLastName" type="text" value= {{ lname }}>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-3 control-label">Email:</label>
              <div class="col-lg-8">
                <input class="form-control" name="editEmail" type="text" value= {{ email }}>
              </div>
            </div>

                  <div class="form-group">
              <label class="col-lg-3 control-label">Address:</label>
              <div class="col-lg-8">
                <input class="form-control" name="editAddress" type="text"  value= {{ address }} >
              </div>
            </div>

                  <div class="form-group">
              <label class="col-lg-3 control-label">City:</label>
              <div class="col-lg-8">
                <input class="form-control" name="editCity" type="text" value = {{ city }}>
              </div>
            </div>

                 <div class="form-group">
              <label class="col-lg-3 control-label">State:</label>
              <div class="col-lg-8">
                <input class="form-control" name="editState" type="text" value = {{ state }}>
              </div>
            </div>

                 <div class="form-group">
              <label class="col-lg-3 control-label">zip number:</label>
              <div class="col-lg-8">
                <input class="form-control" name="editZipNum" type="text" value= {{ zipnum }}>
              </div>
            </div>


                 <div class="form-group">
              <label class="col-lg-3 control-label">phone number:</label>
              <div class="col-lg-8">
                <input class="form-control" name="editPhoneNum" type="text"  value={{ phonenum }} >
              </div>
            </div>







            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <input type="submit" class="btn btn-primary" value="Save Changes">
                <span></span>
                <input type="reset" class="btn btn-warning" value="Cancel">
              </div>
            </div>
          </form>
        </div>


        <div class="col-md-2">
        <img class="img-rounded" src="{% static 'adoptApetApp/img/pets27.png' %}" alt="Generic placeholder image" width="225" height="200">
        </div>


    </div>
    <hr>
  </div>

  </body>
  </html>
